/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.list {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    margin: auto;
    margin-top: 25px;
}

.list::-webkit-scrollbar {
    width: 9px;
}


.list::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 6px;
}

.list::-webkit-scrollbar-corner {
    display: none;
}

.list::-webkit-scrollbar-track {
    background-color: black;
}

.progress-bar {
    height: 5px;
    background-color: white;
    width: 0%;
    transition: width 0.2s linear;
}

#rangeVolume {
    width: 12em;
}